.menu {
    list-style-type: none; /* Видалення маркерів списку */
    padding: 0;
    margin: 0;
    background-color: #333; /* Колір фону меню */
}

.menu li {
    display: inline; /* Вирівнювання пунктів меню в рядок */
    margin-right: 20px; /* Відступи між пунктами меню */
}

.menu li a {
    text-decoration: none; /* Видалення підчеркування посилань */
    color: #fff; /* Колір тексту */
}

.menu li a:hover {
    color: #ff9900; /* Колір тексту при наведенні */
}